@import "../helpers/mixins";
.sub-sub{
    padding-top: 200px;
    @include media(mopile){
      padding-bottom: 200px ;
              }
    .container{
        // position: absolute;
        // top: 30%;
    //    left: 50%;
    //    transform: translateX(-50%);
       
        background-color: rgb(221, 208, 208);
        padding: 30px;
      
        // z-index: 150;
        box-shadow: 5px 5px 25px;
        border-radius: 5px;
        border: 1px solid rgb(219, 219, 216);
        @include media(mopile){
          display: flex;
          flex-direction: column;
          gap: 20px;
                  }
        .login-reminder{
            position: fixed;
            top: 30%;
            background: #5656cde6;
            padding: 15px;
            border-radius: 15px;
            border: 2px solid white;
            color: white;
            font-weight: 400;
            font-size: 18px;
            button{
                padding: 5px;
    background: white;
    border: none;
            }
        }
        .cards{
            display: flex;
            justify-content: center;
            gap: 20px;
            
        }
        .card{
            border: 2px solid rgb(148, 138, 138);
            padding: 15px;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            @include media(mopile){
              flex-direction: column;
              gap: 15px;
              margin: auto;
                      }
            div{
                font-size: 15px;
                background: black;
                color: white;
                padding: 10px 15px;
                border-radius: 11px;
            }
         
            img{
                max-width: 180px;
                min-width: 180px;
                max-height: 120px;
                min-height: 120px;
                border-radius: 15px;
               
            }
            a,button{
                font-size: 15px;
                background-color: white;
                padding: 10px 15px;
                border-radius: 10px;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    color: azure;
                }
                
            }
        }
        h1{
            text-align: center;
        }
    }
}



.spin-cont{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 230;
    background-color: white;
    }
    .spinner {
        // margin: 100px auto;
        
        
        text-align: center;
        font-size: 10px;
        // background-color: white;
        position: absolute;
        z-index: 260;
        width: 200px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
      }
      
      .spinner > div {
        background-color: #333;
        height: 100%;
        width: 20px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
      
      .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      
      .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      
      .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }
      
      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
      }
      
      @keyframes sk-stretchdelay {
        0%, 40%, 100% { 
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }  20% { 
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
        }
      }